@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@model IEnumerable<Events.ItAcademy.Ge.CMVC.Models.PublisherViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <a asp-action="Details" asp-route-id="@item.PublisherID" class="btn btn-info">Details</a>

                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.PublisherID" class="btn btn-danger">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
