@inject SignInManager<ApplicationUser> signInManager;
@model IEnumerable<Events.ItAcademy.Ge.AdminMVC.Models.EventViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherID)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherID)
                </td>
                <td>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <form method="post" asp-action="Delete" asp-route-id="@item.EventID">
                            <a asp-action="Publish" asp-route-id="@item.EventID" class="btn btn-info">Publish</a> 
                            <button type="submit" class="btn btn-danger m-1" onclick="return confirm('Are you sure you want to delete item : @item.Name')">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
